<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist</title>
    <link rel="stylesheet" href="/auth/css/login.css">
    <link rel="stylesheet" type="text/css"
    href="/fontawesome-free-5.12.0-web/css/all.css">
</head>
<body>
    <div class="holder">
        <div class="box-login">
            <form name="form">
                <div class="avaH">
                    <i class="fa fa-user user"></i>
                </div>
                <h2 style="text-align: center; margin-bottom: 10px; margin-top: 60px;"> HCMMS | Receptionist Login</h2>
                <fieldset>
                    <legend>
                        Sign in to your account
                    </legend>
                    <p>
                        Please enter your name and password to log in.
                    </p>
                    <div> 
                        <span class="input-icon">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                            <i class="fa fa-user icon"></i> </span>
                    </div>
                    <div >
                        <span class="input-icon">
                            <input type="password" class="form-control password" name="password" 
                            placeholder="Password">
                            <i class="fa fa-lock icon"></i>
                        </span>
                            <a href="dashboad.html" class="a">
                            Forgot Password ?
                        </a>
                    </div>
                    <div >
                        <button href="" type="submit" class="btn btn-primary" id="login" >
                            Login<i class="fa fa-arrow-circle-right arrow"></i>
                        </button>
                    </div>
                    <!-- <div class="new-account">
                        Don't have an account yet?
                        <a href="registration.php">
                            Create an account
                        </a>
                    </div> -->
                </fieldset>
            </form>

            <div class="copyright">
                &copy; 2020<span class="current-year"></span><span class="text-bold text-uppercase"> HCMMS</span>. 
                <span>All rights reserved</span>
            </div>
        </div>
    </div> 
    <script src="/auth/js/login.js"></script>
</body>
</html>