<section class="sideBar">
    <div class="avarter">
       <img src="img/img1.png" alt="" width="100px" >
    </div>
           <div class="admin">Receptionist</div>
<div class="nav">
   <a href="/receptionist" class="active"><i class="fa fa-qrcode fas"></i> Dashboard</a>
   <a href="/receptionist/patient"><i class="fa fa-users fas"></i> Patients</a> 
       <!-- staus of patient can also be dischardge Admiteed -->
   <a href="/receptionist/appointment"><i class="fa fa-calendar fas"></i> Appointments</a>
   <a href="/receptionist/profile"><i class="fa fa-user-circle fas"></i> Profile</a>
</div><br>
   <hr>
   <div class="datee"><p id="date"></p></div>  
</section>