<div class="main-nav">
    <div class="sub-main-nav">
        <span class="h4">Nurse Dashboard</span>
    </div>
    
    <div class="sub-main-nav-right">
        <!-- <div class="notify">
            <span>Notifications</span>
           </div>  -->
       <div class="nav-contents " >
            <span>Doctor</span><br>
            <center>
                <span class="fa fa-bell bell notification-bell"></span><span class="nav-numbers top-right"><%= fromDoctor %></span></center>
        </div>
        
        <div class="nav-contents" >
            <span>Laboratory</span><br>
            <center> <span class="fa fa-bell bell notification-bell"></span><span class="nav-numbers top-right"><%= fromLab %></span></center>
        </div>
        <div class="nav-contents" >
            <span>Pharmacy</span><br>
            <center><span class="fa fa-bell bell notification-bell"></span><span class="nav-numbers top-right"><%= fromPharmacy %></span></center>
        </div>
        <div class="nav-contents" >
            <span>Receptionist</span><br>
            <center><span class="fa fa-bell bell notification-bell"></span><span class="nav-numbers top-right"><%= fromReceptionist %></span></center>
        </div>
    </div>
</div>