<aside>
           
    <ul>
        <center><img src="nurse.jpg" width="80px" height="80px"><br>
            <span class="doctor-user">Nurse Zainab</span><br><span class="fa fa-circle"> online</span></center>
            <li><a href="nurse.html" class="active"><span class="fa fa-qrcode li-icons"></span><span class="li-list">Dashboard</span></a></li>
            <li><a href="bed-allocation"><span class="fa fa-bed li-icons"></span><span class="li-list">Bed space</span></a></li>
            
            <li><a href="patient.html"><span class="fa fa-users li-icons"></span><span class="li-list">Patients</span></a></li>
            <li><a href="#"><span class="fa fa-file li-icons"></span><span class="li-list">Report</span></a></li>
            <li><a href="#"><span class="fa fa-flask li-icons"></span><span class="li-list">Blood Bank</span></a></li>
            
            <li><a href="#"><span class="fa fa-bell li-icons"></span><span class="li-list">Settings</span></a></li>
            <li><a href="profile.html"><span class="fa fa-user-circle li-icons"></span><span class="li-list">Profile</span></a></li>
       
    </ul>
    
    <div class="datee"><p id="date"></p></div> 
   </aside>